# Copie este archivo como:
# config/database.properties
#
# No suba config/database.properties al repositorio.
# Tambien puede configurar estos valores mediante variables de entorno:
# KATH_DB_HOST, KATH_DB_PORT, KATH_DB_NAME, KATH_DB_USER, KATH_DB_PASSWORD, KATH_DB_PARAMS

db.host=localhost
db.port=3306
db.name=kath_erp
db.user=kath_app_user
db.password=change-me
db.params=serverTimezone=UTC
